<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>URL Shortener</h1>
        <form action="{{ url_for('shorten_url') }}" method="GET" onsubmit="shortenUrl(event)">
            <input type="text" name="url" id="urlInput" placeholder="Enter URL to shorten" required>
            <button type="submit">Shorten URL</button>
        </form>

        <div class="result" id="result" style="display: none;">
            <p>Shortened URL: <a href="" id="shortUrl" target="_blank"></a></p>
        </div>

        <div class="error" id="error" style="display: none;"></div>
    </div>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
